<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/home.js') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/script.js') }}">
    {% block head %} {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
                <div class="container-fluid">
                    <img src="{{ url_for('static', filename='images/mainheaderimage.jpg') }}" alt="JSMC Logo" width=60 height=60 class="mr-3 ml=0">
                    <a class="navbar-brand mr-4" href="/">Jain Society of Metropolitan Chicago</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{{ url_for('snackPage') }}">Home</a>
                            <a class="nav-item nav-link" target="_blank" href="https://www.jsmconline.org/about_us.php">About</a>
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %}
                                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
                                <a class="nav-item nav-link" href="{{ url_for('cart') }}">{% block CartNav %}{% endblock %}</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header> 
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        <br>
        {% if messages %}
            {% for category, message in messages %}
                <div class="container text-center">
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    
    {% block body %}
    {% endblock %}
</body>
</html>
