{% extends "base.html" %}

{% block head %}
    <title>Home | JSMC Food Court</title> 
{% endblock %}

{% block CartNav %}
    Your Cart ( {{ item_counter }} )
{% endblock %}

{% block body %} 

    <main role="main" class="container-fluid">


       
        <div class="container-fluid mt-3">
            <br>
            <legend><b>Specials</b></legend>
            <hr>
            <div class="text-center">
                {% for product in specials %}
                    <div class="card ml-3 mr-3 mt-3" style="display: inline-block" height=225>
                        <img src="{{ product.image_file }}" class="card-img-top" alt="Product Image" height=225>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                {{ product.amount }}
                                <br>
                                <br>
                                ${{ product.priceForEach }}0
                                {% if current_user.is_authenticated %}
                                    <br>                              
                                    <form method="POST" action="">
                                        {{ specialsform.hidden_tag() }}
                                        Quantity: {{ specialsform.quantity }}
                                        <br>
                                        <br>
                                        <input id="itemaddedtospecialscart" name="itemaddedtospecialscart" type="hidden" value="{{ product.name }}">
                                        {{ specialsform.addspecial(class="btn btn-primary") }}
                                    </form>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <br>
            <legend><b>Sweets</b></legend>
            <hr>
            <div class="text-center">
                {% for product in sweets %}
                    <div class="card ml-3 mr-3 mt-3" style="display: inline-block" height=225>
                        <img src="{{ product.image_file }}" class="card-img-top" alt="Product Image" height=225>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                {{ product.amount }}
                                <br>
                                <br>
                                ${{ product.priceForEach }}0
                                {% if current_user.is_authenticated %}
                                    <br>                                  
                                    <form method="POST" action="">
                                        {{ specialsform.hidden_tag() }}
                                        Quantity: {{ specialsform.quantity }}
                                        <br>
                                        <br>
                                        <input id="itemaddedtosweetscart" name="itemaddedtosweetscart" type="hidden" value="{{ product.name }}">
                                        {{ specialsform.addspecial(class="btn btn-primary") }}
                                    </form>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <br>
            <legend><b>Khakharas</b></legend>
            <hr>
            <div class="text-center">
                {% for product in khakharas %}
                    <div class="card ml-3 mr-3 mt-3" style="display: inline-block" height=225>
                        <img src="{{ product.image_file }}" class="card-img-top" alt="Product Image" height=225>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                {{ product.amount }}
                                <br>
                                <br>
                                ${{ product.priceForEach }}0
                                {% if current_user.is_authenticated %}
                                    <br>
                                    <form method="POST" action="">
                                        {{ specialsform.hidden_tag() }}
                                        Quantity: {{ specialsform.quantity }}
                                        <br>
                                        <br>
                                        <input id="itemaddedtokhakharascart" name="itemaddedtokhakharascart" type="hidden" value="{{ product.name }}">
                                        {{ specialsform.addspecial(class="btn btn-primary") }}
                                    </form>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div>
            </div>
        </div>
        <div class="container-fluid mt-3">
            <br>
            <legend><b>Dry Snacks</b></legend>
            <hr>
            <div class="text-center">
                {% for product in drysnacks %}
                    <div class="card ml-3 mr-3 mt-3" style="display: inline-block" height=225>
                        <img src="{{ product.image_file }}" class="card-img-top" alt="Product Image" height=225>
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">
                                {{ product.amount }}
                                <br>
                                <br>
                                ${{ product.priceForEach }}0
                                {% if current_user.is_authenticated %}
                                    <br>                                
                                    <form method="POST" action="">
                                        {{ sweetsform.hidden_tag() }}
                                        Quantity: {{ specialsform.quantity }}
                                        <br>
                                        <br>
                                        <input id="itemaddedtodrysnackscart" name="itemaddedtodrysnackscart" type="hidden" value="{{ product.name }}">
                                        {{ sweetsform.addsweet(class="btn btn-primary") }}
                                    </form>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                {% endfor %}
                <div>
            </div>
        </div>

    </main>

{% endblock %}